In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1819,tt0195685,52000000,256271286,Erin Brockovich,Julia Roberts|Albert Finney|Aaron Eckhart|Marg...,Steven Soderbergh,She brought a small town to its feet and a hug...,A twice-divorced mother of three who sees an i...,131,Drama,Jersey Films,3/13/2000,6.9,2000
180,tt1205537,60000000,50549107,Jack Ryan: Shadow Recruit,Chris Pine|Keira Knightley|Kevin Costner|Nonso...,Kenneth Branagh,Trust no one.,"Jack Ryan, as a young covert CIA analyst, unco...",105,Action|Drama|Thriller,Paramount Pictures|Di Bonaventura Pictures|Mac...,1/15/2014,5.9,2014
1000,tt1915581,7000000,167221571,Magic Mike,Channing Tatum|Matthew McConaughey|Olivia Munn...,Steven Soderbergh,Work all day. Work it all night.,"Mike, an experienced stripper, takes a younger...",110,Drama|Comedy,Nick Wechsler Productions|Extension 765,6/28/2012,6.1,2012
1467,tt0449010,100000000,249288105,Eragon,Ed Speleers|Jeremy Irons|Sienna Guillory|Rober...,Stefen Fangmeier,"As darkness falls, the last dragon will choose...","In his homeland of Alagaesia, a farm boy happe...",104,Fantasy|Action|Adventure|Family,Ingenious Film Partners|Twentieth Century Fox ...,12/14/2006,4.8,2006
1668,tt0349710,60000000,74541707,Ladder 49,Joaquin Phoenix|John Travolta|Jacinda Barrett|...,Jay Russell,Their greatest challenge lies in rescuing one ...,"Under the watchful eye of his mentor, Captain ...",115,Drama|Action|Thriller,Casey Silver Productions|Beacon Communications...,10/1/2004,6.0,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
data[data.budget >= data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
data.sort_values(by="budget", ascending=False)[['budget', 'original_title']].head(1)

        budget                               original_title
723  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [11]:
data.sort_values(by='runtime', ascending=False)[['original_title', 'runtime']].head(1)

         original_title  runtime
1157  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [13]:
data.sort_values(by='runtime')[['original_title', 'runtime']].head(1)

      original_title  runtime
768  Winnie the Pooh       63

In [14]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '110'

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '107'

In [18]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
answers['6'] = 'Avatar (tt0499549)'

In [20]:
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)
data.sort_values(by='profit', ascending=False)[['original_title','profit']].head(1)

    original_title      profit
239         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [22]:
data.sort_values(by='profit', ascending=True)[['original_title','profit']].head(1)

       original_title     profit
1245  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'

In [24]:
data[data.profit > 0]['imdb_id'].nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [26]:
data[data.release_year == 2008].sort_values(by= 'profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [27]:
data.query('release_year == 2008').sort_values(by= 'profit', ascending=False)[['original_title', 'profit']].head(1)

      original_title     profit
599  The Dark Knight  816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [29]:
data.query('2012 <=release_year <=2014').sort_values(by= 'profit', ascending=True)[['original_title', 'profit', 'release_year']].head(1)

       original_title     profit  release_year
1245  The Lone Ranger -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [30]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [31]:
answers['11'] = 'Drama'

In [32]:
c = collections.Counter()
for i in data.genres.str.split('|'):
    for j in i:
        c[j] +=1
max(c, key=c.get)

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
answers['12'] = 'Drama'

In [34]:
c_pl = collections.Counter()
profit_hi = data.query('profit > 0').genres
for i in profit_hi:
    for j in str(i).split('|'):
        c_pl[j] += 1
max(c_pl, key=c_pl.get)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson'

In [36]:
data.pivot_table(values='profit', index='director', aggfunc='sum').sort_values(by='profit', ascending=False).iloc[0]

profit    5202593685
Name: Peter Jackson, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez'

In [38]:
c_d = collections.Counter()


def fill_action(row):
    if 'Action' in row.genres:
        return 1
    return 0


data['action'] = data.apply(fill_action, axis=1)
new_df = data.query('action == 1')
for list_director in new_df.director.str.split('|'):
    for director in list_director:
        c_d[director] += 1
print(max(c_d, key=c_d.get))

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth'

In [40]:
filtr_year = data.query('release_year == 2012')
cast_list = {}
for i in filtr_year.index:
    cas = filtr_year.loc[i]['cast']
    cast_spl = str(cas).split('|')
    for j in cast_spl:
        if j in cast_list:
            cast_list[j] += filtr_year.loc[i]['revenue']
        else:
            cast_list[j] = filtr_year.loc[i]['revenue']
max(cast_list, key=cast_list.get)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon'

In [42]:
df_pr_mean = data[data.budget > data['budget'].mean()]
c_cast = collections.Counter()
for i in df_pr_mean.cast.str.split('|'):
    for j in i:
        c_cast[j] +=1
max(c_cast, key=c_cast.get)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
answers['17'] = 'Action'

In [44]:
filtor_nicolascage = data[data.cast.str.contains('Nicolas Cage')]
c_genr_nicolas = collections.Counter()
for i in filtor_nicolascage.genres.str.split('|'):
    for j in i:
        c_genr_nicolas[j] +=1
max(c_genr_nicolas, key=c_genr_nicolas.get)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [46]:
filter_pr_co = data[data.production_companies.str.contains('Paramount Pictures')]
filter_pr_co[filter_pr_co.profit == filter_pr_co.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
answers['19'] = '2015'

In [48]:
year = {}
for i in range(2000,2016):
    years = data.query('release_year == @i')
    year[i] = years.profit.sum()
max(year, key=year.get)

2015

In [51]:
release = data.groupby(by='release_year')['revenue'].sum()
release.sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
answers['20'] = '2014'

In [53]:
filter_WB = data[data.production_companies.str.contains('Warner Bros')]
profit_max_year = filter_WB.groupby(by='release_year')['profit'].sum()
profit_max_year.sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [54]:
answers['21'] = '9'

In [55]:
data['release_date'] = pd.to_datetime(data['release_date'])
month = data['release_date'].dt.month
c_month = collections.Counter()
for i in month:
    c_month[i] +=1
print(max(c_month, key=c_month.get))

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
answers['22'] = '450'

In [57]:
c_month[6] + c_month[7] + c_month[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [58]:
answers['23'] = 'Peter Jackson'

In [59]:
filter_winter = data[(data['release_date'].dt.month < 3) | (data['release_date'].dt.month > 11)]
c_direct = collections.Counter()
for direct in filter_winter.director.str.split('|'):
    for i in direct:
        c_direct[i] +=1
max(c_direct, key=c_direct.get)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [60]:
answers['24'] = 'Four By Two Productions'

In [61]:
data['len_title'] = data.original_title.apply(lambda x: len(x))
comp = {}
for i in data.index:
    product_co = str(data.loc[i]['production_companies']).split('|')
    lens = int(data.loc[i]['len_title'])
    for j in product_co:
        if j in comp:
            comp[j].append(lens)
        else:
            comp[j] = [lens]
result = {}
for k, v in comp.items():
    result[k] = sum(v)/len(v)
max(result, key=result.get)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [62]:
answers['25'] = 'Midnight Picture Show'

In [63]:
data['len_overview'] = data.overview.apply(lambda x: len(x))
comp = {}
for i in data.index:
    product_co = str(data.loc[i]['production_companies']).split('|')
    lens = int(data.loc[i]['len_overview'])
    for j in product_co:
        if j in comp:
            comp[j].append(lens)
        else:
            comp[j] = [lens]
# print(comp)
result = {}
for k, v in comp.items():
    result[k] = round(sum(v)/len(v), 2)
max(result, key=result.get)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [65]:
data[(data.vote_average) >= (data.vote_average.max()*0.98)]['original_title']

9              Inside Out
34                   Room
118          Interstellar
125    The Imitation Game
599       The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [67]:
list_cast = []
c = collections.Counter()
artist_comby = []
for item in data.cast.str.split('|'):
    for artist in combinations(item, 2):
        artist_comby.append(artist)
for collect in artist_comby:
    c[collect] +=1
print(max(c, key=c.get))

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)